{% extends 'base.html.twig' %}

{% block title %}Portfolio - Login{% endblock %}

{% block body %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8 mt-3 pt-4 text-left">
        <form method="post" action="{{ path('_login') }}">
            <fieldset>
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <span class="icon-wrapper">
                    <a href="{{ path('users') }}" data-toggle="tooltip" data-placement="right" title="" data-original-title="Go Back">
                        <i class="far fa-arrow-alt-circle-left custom-icon text-grey"></i>
                    </a>
                    <h1 class="h3 mb-3 ml-5 font-weight-normal text-grey">Sign In</h1>
                </span>
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me" id="remember_me"> Remember me
                    </label>
                </div>
                <button class="btn btn-primary" type="submit">Sign In</button>
            </fieldset>
        </form>
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}