{% extends 'bio_layout.html.twig' %}


{% block body %}
    <div class="col-1">&nbsp;</div>
    <div class="col-10 pt-2 mt-4">
        <div class="landing mt-3 mb-5">
            <h2 class="display-4 p-2 text-white">Lorem ipsum dolor sit.</h2>
            <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cupiditate nobis numquam.</p>
        </div>
        {#<div class="bio-items mt-3 mb-2">#}
            {#<h4>Lorem ipsum dolor.</h4>#}
            {#<ul class="list-group">#}
                {#<li class="list-group-item d-flex justify-content-between align-items-center">#}
                    {#Lorem ipsum dolor sit amet, consectetur adipisicing.#}
                {#</li>#}
            {#</ul>#}
        {#</div>#}
        <div class="card mb-3 text-center svg-background-sky">
            <div class="card-body">
                <h4 class="card-title">Lorem ipsum dolor sit.</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae quasi voluptate aperiam fuga ab, aspernatur.</p>
            </div>
            <div class="card-body">
                <h4 class="card-title">Lorem ipsum dolor.</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolores ea est temporibus. Maiores, veniam.</p>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur earum enim nam omnis, rem ullam? Doloribus dolorum enim tempore veritatis?</p>
            </div>
            <div class="card-body">
                <h4 class="card-title">Lorem ipsum dolor sit amet, consectetur.</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, aut blanditiis commodi delectus dolor <a href="#" class="card-link">laboriosam magnam</a> molestiae saepe tempore voluptas! Aliquam consequuntur distinctio dolores dolorum ducimus eaque eligendi error illo impedit molestias mollitia nihil, odit quos similique temporibus ullam voluptas.</p>
            </div>
            <div class="card-body">
                <h4 class="card-title">Lorem ipsum.</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#" class="card-link">Aliquam,</a> et!</p>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A corporis cum deserunt dicta libero tempora!</p>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
    <div class="col-1">&nbsp;</div>
{% endblock %}
