{% extends 'layout.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-1"></div>
	<div class="col-10 mt-5">
		<div class="jumbotron text-center svg-background-sky">
			<h1 class="text-white">Lorem ipsum.</h1>
			<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi labore culpa optio iure nemo, recusandae aperiam iste quibusdam.</p>
			<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, sint, totam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque!</p>
			{# <p>The <a href="#">API</a> section is disabled for now. You must be a
			registered user to have access to the <a href="#">Dashboard</a> area.</p> #}
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, harum, nisi.</p>
			<!-- <hr class="my-4"> -->
		</div>
	</div>
	<div class="col-1"></div>
</div>
{% endblock %}
