{% extends 'test_layout.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    {# <div class='box'>
        <div class='wave -one'></div>
        <div class='wave -two'></div>
        <div class='wave -three'></div>
        <div class='title'>Capacities</div>
    </div> #}

    <div class="svg">
    	<svg viewbox="0 0 100 25">
		  <path fill="#860018" opacity="0.5" d="M0 30 V15 Q30 3 60 15 V30z" />
		  <path fill="#e5a4c6" d="M0 30 V12 Q30 17 55 12 T100 11 V30z" />
		</svg>
        <!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1202 281"><switch><g><defs><path id="a" transform="rotate(-180 601 140.5)" d="M0 0h1202v281H0z"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><g clip-path="url(#b)" fill="#000" fill-opacity=".4"><path d="M1231.965 310.233c-68.848 42.752-1271.567-.019-1271.567-.019s-276.19 22.626-55.989-144.575C48.128 56.567 243.315 21.241 395.181 45.682c78.77 12.834 156.041 34.27 230.21 63.734 127.842 10.83 576.965-75.267 606.448-131.202 44.168-83.697 62.232 293.39.126 332.02z"/><path opacity=".786" d="M1183.907 367.194l-1245.01-63.62s-150.384-67.673 21.542-156.889c81.897-42.55 177.465-70.82 285.376-68.114 313.202 8.082 508.994 197.804 813.35 224.965 124.731 11.24 124.742 63.658 124.742 63.658z"/><path d="M1164.558 214.281c-240.564 17.531-388.126-48.655-539.167-104.865 24.693 2.37 32.642 1.938 47.987 2.316 121.732 28.446 350.679 31.594 560.903-100.287 14.942-9.32 2.041 193.735 2.041 193.735-16.433-8.064-47.275 7.318-71.764 9.101z"/></g></g></switch></svg> -->
    </div>
    <div class="overlay">
    	<p>Lorem ipsum dolor sit amet.</p>
    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, quis, nulla. Beatae assumenda eligendi laudantium, recusandae amet reiciendis distinctio aut vel, consectetur libero repellat totam quo repudiandae dolorem ipsum harum.</p>
    </div>
{% endblock %}
