{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="col-sm-3"></div>
    <div class="col-sm-6 mt-3 pt-4 text-left">
        <div class="alert alert-info alert-dismissible">
            {{ error_msg }}
        </div>
        <a class="btn btn-outline-primary ml-2" href="{{ path('login') }}" role="button">Login</a>
        <a class="btn btn-outline-primary ml-2" href="{{ path('register') }}" role="button">Register</a>
        <hr class="my-4">

    </div>
    <div class="col-sm-3"></div>
{% endblock %}