
/**
 * Custom color styles
 */

.blue-text {
	color: #1f4969;
}

.gradient-dark {
	background: rgb(78,5,5);
	background: linear-gradient(to top left, rgba(78,5,5,1) 0%, rgba(61,12,18,1) 100%);
}

.gradient-red {
	/*background-image: 
	linear-gradient(to right bottom, #ED213A, #93291E);*/
	background: rgb(255,49,49);
	background: 
	linear-gradient(90deg, rgba(255,49,49,1) 0%, rgba(237,33,58,1) 45%, rgba(219,42,64,1) 100%);
}

.gradient-orange{
	/* background-image: 
	linear-gradient(to top left, #fe8c00, #f83600); */
	background: rgb(203,112,1);
	background: linear-gradient(90deg, rgba(203,112,1,1) 0%, rgba(186,41,1,1) 100%);
}

.gradient-orange-alternate {
	background-color: #a40606;
	background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
}

.gradient-purple {
	background-image: linear-gradient( 292.9deg,  rgba(27,13,45,1) 21.2%, rgba(120,64,96,1) 92.1% );
}

.gradient-blue {
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(8,213,172,1) 0.6%, rgba(5,126,108,1) 90% );
}

.gradient-greenish-blue {
	background-image: linear-gradient(135deg, rgba(24, 78, 104, 1) 0%, rgba(60, 150, 120, 1) 100%);
}

.gradient-brown {
	background: #3c3b3f; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #3c3b3f, #605c3c); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #3c3b3f, #605c3c);
}

.gradient-dark-blue {
	background: #141E30;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-animation {
	background: linear-gradient(205deg, #c6cecc, #a3a7a6);
	background-size: 400% 400%;

	-webkit-animation: gradual 11s ease infinite;
	-moz-animation: gradual 11s ease infinite;
	animation: gradual 11s ease infinite;
}

@-webkit-keyframes gradual {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
@-moz-keyframes gradual {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
@keyframes gradual {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}

.svg-background {
	background-color: #330000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.16'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

.svg-background-sky {
	background-color: #330033;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='408' height='408' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
	background-size: auto auto;
}

.svg-background-sunset {
	background-color: #330033;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23440044'/%3E%3Cstop offset='1' stop-color='%23330033'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23bb4c07' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23bb4c07' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}