@import url('https://fonts.googleapis.com/css?family=Krub');
:root {
	--font-family-sans-serif: 'Krub', sans-serif;
}
html, body {
	margin: 0;
	font-family: 'Krub', sans-serif;
}
#body-wrapper {
	display: grid;
	grid-template-rows: 100px 1fr;
}

.body-wrapper {
	display: flex;
	flex-direction: row;
}

.body-wrapper-col {
	display: flex;
	flex-direction: row
}

.custom-row {
	display: flex !important;
}

.landing {
	text-transform: lowercase;
}

.bio-items {
	text-align: justify;
}

.footer {
	height: 216px;
}

.custom-icon {
  font-size: 1.5rem;
}
.icon-wrapper {
  width: inherit;
  height: auto;
	padding-left: 0px;
	display: flex;
}

.landing-icon {
	display: block;
}
.landing-icon a {
	text-decoration: none;
	padding: 6px 8px;
	margin: 0px 4px;
}

.landing-icon a:hover {
	text-decoration: none;
}

.landing-icon i {
	font-size: 36px;
	color: #BB4C07;
}

.text-white {
	color: #FFFFFF;
}

.text-grey {
	color: #919aa1;
}

.custom-shadow {
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

/* Bootstrap overrides */
.container-fluid {
	padding: 0px;
}

.form-group {
	margin-top: 8px;
}

.popover-body {
	font-size: medium;
}

.jumbotron {
	border-radius: 6px;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.navbar {
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.card {
	border-radius: 4px;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
}

.landing-icon button {
	background-color: #330033;
	box-shadow: 0px 3px 15px rgba(68,0,68,0.2);
	margin-bottom: 8px;
}
.btn-outline-secondary {
	background-color: #330033;
}

a.btn-outline-secondary:hover {
	background-color: #550055;
}

.card-link {
	color: #FFAA33;
}

.card {
	border-color: #330000;
}

