/** { box-sizing: border-box; }*/

/*body {*/
    /*font-family: sans-serif;*/
/*}*/

/*p {*/
    /*padding: 4px;*/
/*}*/

/*!* clearfix *!*/
/*.grid:after {*/
    /*content: '';*/
    /*display: block;*/
    /*clear: both;*/
/*}*/

/*.grid-sizer {*/
    /*width: 200px;*/
/*}*/

/*.grid-item {*/
    /*width: 300px;*/
    /*float: left;*/
    /*margin: 4px 4px;*/
/*}*/

/*.double-width {*/
    /*width: 40%;*/
/*}*/

/*.triple-width {*/
    /*width: 60%;*/
/*}*/

/*.color1 {*/
    /*background-color: #e02340;*/
/*}*/

/*.color2 {*/
    /*background-color: #f87070;*/
/*}*/

/*.color3 {*/
    /*background-color: #e2debe;*/
/*}*/

/*.color4 {*/
    /*background-color: #ecb965;*/
/*}*/

/*.color5 {*/
    /*background-color: #7d5023;*/
/*}*/

/* Test styles */
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

html, body {
    height: 100%;
}

html {
    background: #eee;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(black, .2);
    background: lighten(#f0f4c3, 10%);
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.wave {
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 50%;
    background: #0af;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
}

.wave.-three {
    animation: drift 5000ms infinite linear;
}

.wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: .1;
    background: yellow;
}

.box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

.title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    line-height: 300px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: white;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    letter-spacing: .4em;
    font-size: 24px;
    text-shadow: 0 1px 0 rgba(black, .1);
    text-indent: .3em;
}
@keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
}

svg {
  /*background: url('https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg') no-repeat center center;*/
  background-size: cover;
  width: 100%;
  display: block;
  position: relative;
}

.overlay {
    position: absolute;
    z-index: 11;
}

.overlay p {
    font-family: 'Playfair Display', serif;
}