<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/theme.css') }}" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Krub" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}" type="text/css">
    {% endblock %}
</head>
<body>


<div id="body-wrapper">
    <div class="container-fluid">
        {% block header %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="/">Homepage</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            <a class="navbar-brand nav-link" href="{{ path('bio') }}">Bio</a>
                        </li>
                        {# <li class="nav-item">
                            <a class="nav-link disabled" href="{{ path('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="{{ path('users') }}">Users</a>
                        </li> #}

                    </ul>
                </div>
            </nav>
        {% endblock %}
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="body-wrapper-col text-center">
                {% block body %}

                {% endblock %}
            </div>
        </div>
        <div class="row">
            {% block footer %}
                <div class="landing-icon text-center pt-4 mt-4 mb-4">
                    {# <a href="https://github.com/japodhidev">
                        <i class="fab fa-github"></i>
                    </a> #}
                    <button id="custom-github" type="button" class="btn btn-secondary" title="Github" data-container="body" data-toggle="popover" data-placement="top" data-content="" data-original-title="Popover Title">
                        <i class="fab fa-github"></i>
                    </button>

                    {# <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a> #}
                    <button type="button" class="btn btn-secondary" title="Twitter" data-container="body" data-toggle="popover" data-placement="top" data-content="@japodhidev" data-original-title="Popover Title">
                        <i class="fab fa-twitter"></i>
                    </button>
                    {# <a href="#">
                        <i class="fas fa-envelope"></i>
                    </a> #}
                    <button type="button" class="btn btn-secondary" title="Email" data-container="body" data-toggle="popover" data-placement="top" data-content="japodhidev@gmail.com" data-original-title="Popover Title">
                        <i class="fas fa-envelope"></i>
                    </button>

                    <button type="button" class="btn btn-secondary" title="Phone" data-container="body" data-toggle="popover" data-placement="top" data-content="+254 742 199735" data-original-title="Popover Title">
                        <i class="fas fa-phone"></i>
                    </button>

                </div>
            {% endblock %}
        </div>

    </div>

</div>


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery-3.3.1.slim.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
          $('[data-toggle="popover"]').popover();
        });
        $('#custom-github').click(function(e){
            e.preventDefault();
            location = "https://github.com/japodhidev";
        });
    </script>
{% endblock %}
</body>
</html>
