{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 mt-3 pt-4 text-left">
            {% if error_msg is not empty %}
                <div class="alert alert-dismissible alert-danger fade show" role="alert">
                    {{ error_msg }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <form action="{{ path('') }}" method="post">
                <fieldset>
                  <span class="icon-wrapper">
                    <a href="{{ path('users') }}" data-toggle="tooltip" data-placement="right" title="" data-original-title="Go Back">
                      <i class="far fa-arrow-alt-circle-left custom-icon"></i>
                    </a>
                  </span>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" required>
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a href="#" class="btn btn-primary float-right">
                        Github
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#" class="btn btn-primary float-md-right mr-3">
                        Twitter
                        <i class="fab fa-twitter"></i>
                    </a>
                </fieldset>
            </form>

            <hr class="my-4">
        </div>
        <div class="col-sm-3"></div>
    </div>
{% endblock %}