{% extends 'base.html.twig' %}

{% block title %}
    Registration
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 mt-3 pt-4 text-left">
            {{ form_start(registrationForm) }}
            <fieldset>
                <span class="icon-wrapper">
                    <a href="{{ path('users') }}" data-toggle="tooltip" data-placement="right" title="" data-original-title="Go Back">
                        <i class="far fa-arrow-alt-circle-left custom-icon text-grey"></i>
                    </a>
                    <h1 class="h3 mb-3 ml-4 font-weight-normal text-grey">Sign Up</h1>
                </span>
                <div class="form-group">
                    {{ form_row(registrationForm.firstname) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.secondname) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.email) }}
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.password) }}
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </fieldset>
            {{ form_end(registrationForm) }}
            <hr class="my-4">
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}

