{% extends 'layout.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <div class="row p-5 mb-4">
    	<div class="col mr-auto mt-4 ml-3 lead">
	        <h4 class="text-white">Lorem ipsum dolor sit amet.</h4>
	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quos, labore cumque sequi recusandae perspiciatis.</p>
	    </div>

	    <div class="col mr-auto mt-5 ml-3">
	        <a class="btn btn-outline-secondary ml-2 mb-3" href="{{ path('_login') }}" role="button">Login</a>
	        <a class="btn btn-outline-secondary ml-2 mb-3" href="{{ path('register') }}" role="button">Register</a>
	    </div>
    </div>
{% endblock %}