{% extends 'error_layout.html.twig' %}

{% block title %}
	Error
{% endblock %}

{% block body %}
	<div class="col mt-5">
		<h2>Generic Error</h2>
		<p class="lead">There seems to be a problem processing your request.</p>
	</div>
{% endblock %}